{{#if type}}
    <article class="product {{ class }}">
        <header class="product__header">
            <div class="product__img" style="background-image: url({{ product.img }});"></div>
            <h2 class="product__title">{{ product.title }}</h2>
            <p class="product__description">{{ product.description }}</p>
        </header>
        <footer class="product__footer">
            <div class="product__price">{{ product.price }}</div>
            {{#> button type="warning" class="product__button"}}
                Подробнее
            {{/button}}
        </footer>
    </article>
{{else}}
    
{{/if}}